beta.py

# Исключаем файл .env
.env

# Исключаем папку виртуального окружения
venv/

# Исключаем папки сборки и дистрибутива
dist/
build/

# Исключаем файлы кеша Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Исключаем системные файлы
*.so
*.dll
*.dylib
*.lib

# Исключаем файлы временной среды
*.swp
*.swo
*.swn
*.spec

# Исключаем файлы логов
*.log

# Исключаем файлы базы данных SQLite
*.db
*.sqlite3

# Исключаем файлы конфигурации IDE
.idea/
.vscode/
